@page {
    size: auto;  /* auto is the initial value */
    margin: 3mm; /* this affects the margin in the printer settings */
}
html {
    background-color: #FFFFFF;
    margin: 0px; /* this affects the margin on the HTML before sending to printer */
}
body {
    border: solid 1px blue;
    margin: 10mm 15mm 10mm 15mm; /* margin you want for the content */
}

#bill {
  position: relative;
  min-height: 1000px;
  background-color: white;
  color: black;
  padding: 25px 25px 25px 25px;
}

#bill-bill-data {
  width: 50%;
  float: right;
  padding-bottom: 50px;
}

#bill-additional-info {
  word-break: break-all;
  width: 45%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#bill-seller-data {
  width: 50%;
  float: left;
  padding-bottom: 25px;
}

#bill-buyer-data {
  width: 50%;
  float: left;
}


#bill-table {
  border: 1px solid black;
  width: 100%;
  min-height: 400px;
  margin-bottom: 100px;
}

#bill-table > thead {
  border: 1px solid black;
  background-color: #FFCC00;

}

#bill-table > tbody > tr {
  border: 1px solid black;
}

#bill-table > tbody > tr > td {
  border: 1px solid black;
}


#bill-table-additional-cells {
  width: 50%;
  float: right;
}
