html, body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: Helvetica, sans-serif
}

.f-right {
    float: right;
}

#loading-message {
    position: fixed;
    top:50%;
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 2em;
}

#app {
    display: none;
}

.modal-body {
    overflow-y: auto;
}

body {
  background-color: #d1d1d1;
}

.pagination {
}

#inventory-list-wrapper {
    height: 80%;
}


#modal-loading-gif {
    width: 10%;
    margin-left: 45%;
    margin-right: auto;
}

#barcode-video > video {
  width: 100%;
}
#barcode-video > canvas {
  display: none;
}

#bill {
  position: relative;
  min-height: 1000px;
  background-color: white;
  color: black;
  padding: 25px 25px 25px 25px;
  overflow-x: auto;
}

#bill-bill-data {
  width: 50%;
  float: right;
  padding-bottom: 50px;
  line-height: 1.4em;
}

#bill-additional-info {
  word-break: break-all;
  width: 45%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#bill-seller-data {
  width: 50%;
  float: left;
  padding-bottom: 25px;
}

#bill-buyer-data {
  width: 50%;
  float: left;
}


#bill-table {
  border: 1px solid black;
  width: 100%;
}

#bill-table > thead {
  border: 1px solid black;
  background-color: #FFCC00;

}

#bill-table > tbody > tr {
  border: 1px solid black;
}

#bill-table > tbody > tr > td {
  border: 1px solid black;
    text-align: center;
}


#bill-table-additional-cells {
  word-break: break-all;
  width: 45%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

#inventory-list {
  width: 100%;
}

.inventory-label {
  display: table-cell !important;
  min-width: 120px;
  border-bottom: 1px solid black;
}

/*nav-bar*/

.navbar {
  background-color: #004884 !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
  border-radius: 0 !important;
}
.navbar-default .navbar-nav>.active>a{
  background-color: #004884 !important;
}
.navbar-nav>.active>a{
  background-color: none !important;
}
.navbar-default .navbar-nav>li>a {
  color: #fff !important;
}

.navbar-default .navbar-brand {
  color: #fff !important;
}
.navbar-default {
  border: none !important;
}
.nav > li > a:focus{
  background-color: #2169a5 !important;
}
.nav > li > a:hover {
  background-color: #295172 !important;
}

/*flex for midcontent*/

.page .container-fluid {
  display: flex;
}
/* IDEA: säädetään tarvittaessa optimaaliksi */
@media only screen and (device-width: 1280px),
only screen and (max-width:1280px) {
  .page .container-fluid {
    display: block;
  }
}
.page .container-fluid .well{
    margin: 0 10px 10px 10px;
}
.page .container-fluid > div {
  flex: 1;
}

.container-fluid .well{
  background-color: #e5e5e5;
}
/*http://www.color-hex.com/color/004884*/
